@keyframes hoverAnimation {
    0% {background-color: #2b354a;}
    50% {background-color: #091f3f;}
    100% {background-color: #2b354a;}
  }

@keyframes bodyAnimation {
    0% {background-color: #2b354a;}
    50% {background-color: #091f3f;}
    100% {background-color: #2b354a;}
  } 

.ghs-navy {
    background-color: #091f3f;
}

.ghs-orange {
    background-color: #ef4b24;
}

.gb-slate {
    background-color: #2b354a;
}

.text-white
{
    color: white;
}

.ghs-center {
    text-align: center;
}

.ghs-hover:hover {
    /* background-color: #091f3f */
    animation-name: hoverAnimation;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
}

.ghs-50vh {
    height: 50vh;
}

.ghs-25vh {
    min-height: 25vh;
    max-height:25vh;
}

.ghs-menuparent {
    display: table;
}

.ghs-menuchild {
    display: table-cell;
    vertical-align: middle;
}

.ghs-br {
        display: block; /* makes it have a width */
        content: ""; /* clears default height */
        margin-top: calc(20vh/3); /* change this to whatever height you want it */
}

.ghs-bodyAni {
    animation-name: bodyAnimation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}